html 
    head
        script
            |window.onload = function() {
            |       let oBtn = document.getElementById("btn1");
            |       oBtn.onclick = function (){}
            |}
    body
        |abc