html
    head
        script
    body
        a(href="http://www.baidu.com") 官网
        a(href="http://www.sougou.com") 搜狗
        div aaa
            span bbb
        div(style={width: "200px", height: "300px", background: "red"}) 
        div(class=["aaa", "left-warp", "active"])
        div.box
        div#crazy
        div&attributes({title: "aaa", id: "div1"})